
.div-list{
 
   background-color: #282c34;
  color: white;
}
.list-text{
  color:white;
}
/*ul{
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  min-height: 5vh; 
  
}*/
.top-header{
   list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 5vh; 
}
ul > li > a{
  color:white
}
.component-block{
      margin-left: 40px;
}
.is-danger{
  color:red;  
}
.active{
  color:red;
}
